DATABASE_URL="mysql://root:password@localhost:3306/eleaningv2"
JWT_SECRET_KEY="your-super-secret-jwt-key"
JWT_EXPIRES_IN="3600s"

# Google OAuth2 Configuration
GOOGLE_CLIENT_ID="738207064654-vooej994137jvlrn2fne67a9r5oflpev.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"
GOOGLE_CALLBACK_URL="http://localhost:3000/auth/google/callback"